@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=Varela+Round&display=swap');
   body{
    background-image: url(logback.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
   } 
   .a{
    text-align: center;
    font-size: small;
    text-transform: capitalize;
    color:#0a0a0a;
    text-decoration: none;
    font-weight: 300;
    color:#bbbbbb;
    display:block;
    transition: all 0.3s ease;
   }
  a:hover{
    color:#065db9;
    transform: scaleZ(1.2);

}
.signup{
        height:50 0px;
        width:420px;
        border: 2px solid #fc97dc;
        margin:auto;
        margin-top: 50px;
    }
    .login{
        height:400px;
        width:400px;
        border: 2px solid #f4a3da;
        margin:auto;
        margin-top: 50px;
    }
    .logindetails{
      text-align: center;
      padding-top: 40px;
        text-justify: left;
    }
    .logindetails input{
        border-radius: 15px;
        background-color: rgba(115, 174, 222, 0.968);
        width: 250px;
        border: none;
        outline: none;
        height: 30px;
    }
    .logindetails input:hover{
        transform:scalez(1.3);
    }
    .signupdetails{
        padding-top: 40px;
        justify-content: center;
        padding-left: 20px;
      }
      .signupdetails input{
        border-radius: 15px;
        background-color: rgba(115, 174, 222, 0.968);
        width: 250px;
        border: none;
        outline: none;
        height: 30px;
    }
    .signupetails input:hover{
        transform:scalez(1.3);
    }
    header{
        font-size: 50px;
        text-align: center;
        font-family: 'Varela Round', sans-serif;
        color: #065db9;
    }
    .button1{
        border: none;
        border-radius: 30px;
        font-size: 20px;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        height:30px;
        background-color: #f4a3da;
        width: 150px;
    }
    .buttons{
        padding: 50px;
    }